<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../styles/settings.css" rel="stylesheet">
  <meta charset="UTF-8">
</head>

<body class="page">
  <div class="setting-top-bar">
    <div class="top-bar-left">
      <img class="top-bar-icon" src="../../../assets/icon.png">
    </div>
    <div class="top-bar-right">
      <button type="button" class="upgrade-btn" id="upgrade-btn" onclick="upgrade()">检查更新</button>
      <button type="button" class="upgrade-btn" id="feedback-btn" onclick="feedback()">联系我们</button>
    </div>
    <div class="top-bar-middle">
      <ul class="title-list">
        <li>
          <h1>Electronic Wechat V2.1.7</h1></li>
        <li>
          <h1 style="font-size:95%;">Powered by Electron V<span id="top-title-electron-ver">process.versions.electron</span></h1></li>
      </ul>
    </div>
  </div>
  <div class="setting-menu">
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-language-title">语言(重启微信生效)</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-language-desc">选择你希望使用的默认语言</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-language-select" onchange="changefun('language')" required>
            <option value="en_US">English</option>
            <option value="zh-CN">简体中文</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-recall-title">阻止消息撤回</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-recall-desc">选择是否阻止微信的消息撤回功能</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-recall-select" onchange="changefun('recall')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-notification-title">点击通知打开微信(重启微信生效)</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-notification-desc">选择是否允许通过点击消息通知打开微信</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-notification-select" onchange="changefun('notification')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-frame-title">无边框(重启微信生效)</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-frame-desc">选择是否隐藏边框</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-frame-select" onchange="changefun('frame')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-close-title">关闭主面板</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-close-desc">选择关闭主面板是最小化到系统托盘还是退出程序</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-close-select" onchange="changefun('close')">
            <option value="on">最小化到系统托盘(close)</option>
            <option value="off">退出程序(exit)</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-update-title">自动检查更新</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-update-desc">打开程序时是否自动检查更新</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-update-select" onchange="changefun('update')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-proxy-title">代理设置(重启微信生效)</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-proxy-desc">选择代理模式</h4>
        </li>
        <li class="menu-button">
          <select class="" id="app-proxy-select" onchange="changefun('proxy')">
            <option value="on">跟随系统(Follow the system)</option>
            <option value="off">直接连接(no proxy)</option>
            <option value="setProxy">指定代理(set proxy)</option>
          </select>
          <input oninput="setProxy()" id="app-proxy-input" type="text" placeholder='sock5://127.0.0.1:1080'>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-instance-title">是否允许开启多个实例</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-instance-desc">多个实例可以同时登录不同帐号</h4>
        </li>
        <li class="menu-button">
          <select id="app-instance-select"  onchange="changefun('instance')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-icon-title">Flash 路径[不知道是啥，可能不会上线了]</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-icon-desc">默认路径</h4>
        </li>
        <li class="menu-button">
          <input type="text" placeholder="File Path...">
        </li>
      </ul>
    </section>
    <section id="app-tray">
      <ul>
        <li class="menu-title">
          <h3 id="app-tray-title">托盘图标颜色（黑/白）</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-tray-desc">选择一个适合当前主题的颜色</h4>
        </li>
        <li class="menu-button">
          <select id="app-tray-select" onchange="changefun('tray')">
            <option value="black">◆</option>
            <option value="white">◇</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 id="app-blur-title">失焦处理</h3>
        </li>
        <li class="menu-desc">
          <h4 id="app-blur-desc">在失去焦点的时候是否进入挂起状态</h4>
        </li>
        <li class="menu-button">
          <select id="app-blur-select"  onchange="changefun('blur')">
            <option value="on">On</option>
            <option value="off">Off</option>
          </select>
        </li>
      </ul>
    </section>
  </div>

  <script>
    const AppConfig = require('../../configuration');
    const {
      remote,
      shell,
      ipcRenderer
    } = require('electron');

    const lan = AppConfig.readSettings('language');
    const recall = AppConfig.readSettings('prevent-recall');
    const notification = AppConfig.readSettings('click-notification');
    const instance = AppConfig.readSettings('multi-instance');
    const trayColor = AppConfig.readSettings('tray-color');
    const frame = AppConfig.readSettings('frame');
    const close = AppConfig.readSettings('close');
    const update = AppConfig.readSettings('update');
    const proxy = AppConfig.readSettings('proxy');
    const proxyURl = AppConfig.readSettings('proxy-url');
    const blur = AppConfig.readSettings('blur');

    const lanSelect = $('app-language-select');
    const recallSelect = $('app-recall-select');
    const notificationSelect = $('app-notification-select');
    const instanceSelect = $('app-instance-select');
    const trayColorSelect = $('app-tray-select');
    const frameSelect = $('app-frame-select');
    const closeSelect = $('app-close-select');
    const updateSelect = $('app-update-select');
    const proxySelect = $('app-proxy-select');
    const proxyInput = $('app-proxy-input');
    const blurSelect = $('app-blur-select');

    function $(id) {
      return document.getElementById(id);
    }

    if(process.platform === 'darwin') {
      $('process.platform').style.display = 'none';
    }

    $('top-title-electron-ver').innerText = process.versions.electron;
    setConfig();
    //setListeners()

    let Common = require('../../common');
    if (lan !== 'zh-CN') {
      setLocale();
    }

    // function setListeners() {
    //   lanSelect.addEventListener('change', function() {
    //     $('app-language-title').innerHTML = 2233
    //     AppConfig.saveSettings('language', lanSelect.value)
    //   })
    //   recallSelect.addEventListener('change', function() {
    //     AppConfig.saveSettings('prevent-recall', recallSelect.value)
    //   })
    //   notificationSelect.addEventListener('change', function() {
    //     AppConfig.saveSettings('click-notification', notificationSelect.value)
    //   })
    //   instanceSelect.addEventListener('change', function() {
    //     AppConfig.saveSettings('multi-instance', instanceSelect.value)
    //   })
    //   trayColorSelect.addEventListener('change', function() {
    //     AppConfig.saveSettings('tray-color', trayColorSelect.value)
    //     ipcRenderer.send('refreshIcon')
    //   })
    // }

    function changefun(name){
      switch(name){
        case 'language':
          AppConfig.saveSettings('language', lanSelect.value)
          break
        case 'recall':
          AppConfig.saveSettings('prevent-recall', recallSelect.value)
          break
        case 'notification':
          AppConfig.saveSettings('click-notification', notificationSelect.value)
          break
        case 'instance':
          AppConfig.saveSettings('multi-instance', instanceSelect.value)
          break
        case 'frame':
          AppConfig.saveSettings('frame', frameSelect.value)
          break
        case 'close':
          AppConfig.saveSettings('close', closeSelect.value)
          break
        case 'update':
          AppConfig.saveSettings('update', updateSelect.value)
          break
        case 'tray':
          AppConfig.saveSettings('tray-color', trayColorSelect.value)
          ipcRenderer.send('refreshIcon')
          break
        case 'proxy':
          AppConfig.saveSettings('proxy', proxySelect.value)
          if(proxySelect.value=='setProxy'){
            $('app-proxy-input').style.display='block'
          }
          else{
            $('app-proxy-input').style.display='none'
          }
          break
        case 'blur':
          AppConfig.saveSettings('blur', blurSelect.value)
          break
      }
    }

    function setConfig() {
      $('app-language-select').value = lan;
      $('app-recall-select').value = recall;
      $('app-notification-select').value = notification;
      $('app-instance-select').value = instance;
      $('app-tray-select').value = trayColor;
      $('app-frame-select').value = frame;
      $('app-close-select').value = close;
      $('app-update-select').value = update;
      $('app-proxy-select').value = proxy;
      $('app-proxy-input').value = proxyURl;
      $('app-proxy-input').style.display = (proxy==='setProxy')?'block':'none'
      $('app-blur-select').value = blur;
    }

    function setLocale() {
      $('app-language-title').innerHTML = Common.languageTitle;
      $('app-language-desc').innerHTML = Common.languageDesc;
      $('app-recall-title').innerHTML = Common.recallTitle;
      $('app-recall-desc').innerHTML = Common.recallDesc;
      $('app-notification-title').innerHTML = Common.notificationTitle;
      $('app-notification-desc').innerHTML = Common.notificationDesc;
      $('app-frame-title').innerHTML = Common.frameTitle;
      $('app-frame-desc').innerHTML = Common.frameDesc;
      $('app-close-title').innerHTML = Common.closeTitle;
      $('app-close-desc').innerHTML = Common.closeDesc;
      $('app-update-title').innerHTML = Common.updateTitle;
      $('app-update-desc').innerHTML = Common.updateDesc;
      $('app-proxy-title').innerHTML = Common.proxyTitle;
      $('app-proxy-desc').innerHTML = Common.proxyDesc;
      $('app-instance-title').innerHTML = Common.instanceTitle;
      $('app-instance-desc').innerHTML = Common.instanceDesc;
      $('app-icon-title').innerHTML = Common.iconTitle;
      $('app-icon-desc').innerHTML = Common.iconDesc;
      $('app-tray-title').innerHTML = Common.trayTitle;
      $('app-tray-desc').innerHTML = Common.trayDesc;
      $('upgrade-btn').innerHTML = Common.UPGRADE;
      $('feedback-btn').innerHTML = Common.FEEDBACK;
      $('app-blur-title').innerHTML = Common.blurTitle;
      $('app-blur-desc').innerHTML = Common.blurDesc;
    }

    function setProxy(){
      debounce(()=>{
        AppConfig.saveSettings('proxy-url', $('app-proxy-input').value)
      },500)
    }

    function feedback() {
      shell.openExternal(Common.GITHUB_ISSUES);
    }

    function upgrade() {
      ipcRenderer.send('update');
    }

    function KeyDownFn(evt) {
      if (evt.keyCode == 73 && evt.ctrlKey && evt.shiftKey) evt.preventDefault();
    }

    function debounce(func){//防抖
      clearTimeout(this.timer)
      this.timer = setTimeout(()=>{
        func()
      },300)
    }

  </script>
</body>

</html>
